body {
    background-color: rgb(245, 214, 175);
}

header, footer {
    text-align: center;
    border: solid rgb(192, 164, 129) 1px;
    background-color: rgb(219, 191, 157);
    color: rgb(1, 71, 1);
}

li {
    display: inline-block;
    padding: 10px;
    margin: 5px 60px;
}

#chair {
    height: 300px;
    padding: 10px;
    margin: 15px 10px 0px 10px;
}


section {
    border: 1px black solid;
}

#p1 {
    width: 900px;
    float: right;
    text-align: center;
}

#p2 {
    width: 500px;
    float: left;
    text-align: center;
}

#p3 {
    width: 500px;
    float: right;
    text-align: center;
}

#tumby {
    width: 350px;
}

#p4 {
    width: 900px;
    float: left;
    text-align: center;
}

